# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/*.suo
backend/**/*.DotSettings
backend/.vs/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# Dotnet tools
tools/
